form {
  width: 300px;
  border: 3px solid #d6d7da;
  padding: 0px 15px 15px 15px;
  border-radius: 10px;
  font-family: arial;
  line-height: 25px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;
  text-align: left;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: blue;
  text-align: center;
}
form label {
  display: block;
  width: 70%;
}
form input,
form select,
form button {
  padding: 6px;
  border: solid 1px #bdc7d8;
}
